<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />


    <springProfile name="production">

        <root level="INFO">
            <appender-ref ref="FILE" />
        </root>

        <logger name="org.apache.coyote" level="DEBUG"></logger>
        <logger name="org.apache.tomcat.websocket" level="DEBUG"></logger>
        <logger name="org.apache.activemq.broker" level="DEBUG"></logger>
        <logger name="org.springframework.web" level="DEBUG"></logger>
        <logger name="org.springframework.security" level="DEBUG"></logger>
        <logger name="org.springframework.ws" level="DEBUG"></logger>
        <logger name="hnwj" level="INFO"></logger>
    </springProfile>

    <springProfile name="default">

        <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

        <root level="INFO">

            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE" />
        </root>

        <logger name="org.mongodb" level="DEBUG"></logger>
        <logger name="redis" level="DEBUG"></logger>
        <logger name="org.springframework.data.redis" level="DEBUG"></logger>
        <logger name="org.apache.coyote" level="DEBUG"></logger>
        <logger name="org.thymeleaf" level="DEBUG"></logger>
        <logger name="org.apache.tomcat.websocket" level="DEBUG"></logger>
        <logger name="org.apache.activemq.broker" level="DEBUG"></logger>
        <logger name="org.springframework.web" level="INFO"></logger>
        <logger name="org.apache.ws" level="DEBUG"></logger>
        <logger name="org.springframework.ws" level="DEBUG"></logger>
        <logger name="hnwj" level="INFO"></logger>
    </springProfile>


    <!-- add an appender that logs to a redis store -->
    <springProfile name="redis">

        <appender name="REDIS" class="com.cwbase.logback.RedisAppender">
            <host>${redis.host}</host>
            <port>${redis.port}</port>
            <key>hnwj-app</key>
        </appender>

        <root level="INFO">

            <appender-ref ref="REDIS" />
        </root>

        <logger name="redis" level="DEBUG"></logger>
        <logger name="org.springframework.data.redis" level="DEBUG"></logger>
        <logger name="org.springframework.data.redis" level="DEBUG"></logger>
        <logger name="hnwj" level="INFO"></logger>

    </springProfile>


</configuration>