<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>

<nav class="navbar navbar-inverse" th:replace="fragments/navbar"></nav>

<h3>Muligheder</h3>
<ul>
    <li th:each="kafkaTopic : ${kafka_topics}">
        <a th:href="'/kafka/produce?topic=' + ${kafkaTopic}" th:text="'Produce payload on kafka topic ' + ${kafkaTopic}"></a>
        <!--<a th:href="'/kafka/produce?topic=' + ${kafkaTopic}" th:text="Produce payload on kafka topic '${kafkaTopic}'"></a>-->
    </li>
    <li>
        <a href="/kafka/produce">Produce payload on a kafka topic</a>
    </li>
    <li>
        <a href="/kafka/consume/pause">Pause consuming from 'manualStart' listener container</a>
    </li>
    <li>
        <a href="/kafka/consume/resume">Resume consuming from 'manualStart' listener container</a>
    </li>
</ul>


<h3>Listener containers</h3>
<ul>
    <li th:each="var : ${containers}">
        <p th:text="${var.key}"></p>
        <p th:text="${var.value}"></p>
    </li>
</ul>


</body>
</html>
