<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
    <meta charset="UTF-8"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Sample</title>
</head>
<body>


<nav th:replace="fragments/navbar">replace navbar</nav>

<!--/*@thymesVar id="helloMessage" type="java.lang.String"*/-->
<p th:text="'Hellooooooo, ' + ${helloMessage} + '!'" >Hi</p>
<p th:text="'Model, ' + ${modelStr} + '!'" >Model</p>
<p th:text="'UserPrincipal name, ' + ${principalName} + '!'" ></p>
<p th:text="'Authentication name, ' + ${authname} + '!'" ></p>
<p th:text="'Authentication Authorities, ' + ${authAuthorities} + '!'" ></p>
<p th:text="'Authentication credentials, ' + ${authCreds} + '!'" ></p>
<p th:text="'Authentication details, ' + ${authDetails} + '!'" ></p>
<p th:text="'Cookies, ' + ${cookies} + '!'" ></p>
<p th:text="'URI, ' + ${uri} + '!'" ></p>
<p th:text="'Remote Adr, ' + ${remoteAdr} + '!'" ></p>
<p th:text="'Remote Host, ' + ${remoteHost} + '!'" ></p>
<p th:text="'Remote Port, ' + ${remotePort} + '!'" ></p>
<p th:text="'Remote User, ' + ${remoteUser} + '!'" ></p>
<p th:text="'Principal, ' + ${principal} + '!'" ></p>


</body>
</html>