<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet"
          media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/1.11.1/jquery.min.js"
            th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

    <title>WebSocket over STOMP</title>
</head>
<body onload="disconnect();">
<noscript>
    <h2 style="color: #ff0000;">
        Seems your browser does not support javascript.
        Websocket relies on javascript.
        Please enable and reload.
    </h2>
</noscript>
<nav th:replace="fragments/navbar"></nav>


<div>
    <em>Websockets</em>
    <p>It is a specification to allow synchronous bidirectional communication between a client and a server. While similar to TCP sockets, it is a protocol that operates as an upgraded HTTP connection, exchanging variable-length frames between the two parties, instead of a stream.</p></div>
    <em>STOMP</em>
    <p>It defines a protocol for clients and servers to communicate with messaging semantics. It does not define any implementation details, but rather addresses an easy-to-implement wire protocol for messaging integrations. It provides higher semantics on top of the WebSockets protocol and defines a handful of frame types that are mapped onto WebSockets frames. Some of these types are...</p>
<ul>
    <li>connect</li>
    <li>subscribe</li>
    <li>unsubscribe</li>
    <li>send (message to server)</li>
    <li>message (for messages sent from the server) BEGIN, COMMIT, ROLLBACK (transaction management)</li>
</ul>
</div>

<div>
    <p>Pressing connect will create a STOMP wrappered SockJS connection to '/stomp_kafka' on the server</p>
    <p>The STOMP client will subscribe to the topics <ul><li>/topic/sag_event</li><li>/topic/beskedfordeler_event</li> </ul></p>
    <div>
        <button id="connect" onclick="connect();">Connect</button>
        <button id="disconnect" disabled="disabled" onclick="disconnect();">Disconnect</button>
    </div>
    <div id="conversationDiv">
        <button onclick="ping();">Ping server</button>
        <p id="response"></p>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/sockjs/0.3.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>

<script type="text/javascript">
    var stompClient = null;

    function setConnected(connected) {
        document.getElementById('connect').disabled = connected;
        document.getElementById('disconnect').disabled = !connected;
        document.getElementById('conversationDiv').style.visibility = connected ? "visible" : "hidden";
        document.getElementById('response').innerHTML = '';
    }

    function connect() {
        var socket = new SockJS('/stomp_kafka');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            setConnected(true);
            console.log('Connected: ' + frame);
            stompClient.subscribe('/topic/pong', function (pong) {
                showPong(pong.body);
            });
            stompClient.subscribe('/topic/sag_event', function (sagEvent) {
                showSagEvent(JSON.parse(sagEvent.body));
            });
            stompClient.subscribe('/topic/beskedfordeler_event', function (beskedfordelerEvent) {
                showBeskedfordelerEvent(JSON.parse(beskedfordelerEvent.body));
            });
        });
    }

    function disconnect() {
        if (stompClient != null) {
            stompClient.disconnect();
        }
        setConnected(false);
        console.log("Disconnected")
    }

    function ping() {
        stompClient.send("/app/ping", {}, "ping");
    }


    function showSagEvent(message) {
        var stringify = JSON.stringify(message);
        var response = document.getElementById('response');
        var p = document.createElement('p');
        p.style.wordWrap = 'break-word';
        p.appendChild(document.createTextNode(stringify));
        // response.appendChild(p);
        response.prepend(p);
    }

    function showPong(message) {
        var response = document.getElementById('response');
        var p = document.createElement('p');
        p.appendChild(document.createTextNode(message));
        // response.appendChild(p);
        response.prepend(p);
    }


</script>

</body>
</html>