<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet"
          media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/1.11.1/jquery.min.js"
            th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

    <title>Hello WebSocket over STOMP</title>
</head>
<body onload="disconnect();">
<noscript>
    <h2 style="color: #ff0000;">
        Seems your browser does not support javascript.
        Websocket relies on javascript.
        Please enable and reload.
    </h2>
</noscript>
<nav th:replace="fragments/navbar"></nav>


<div>
    <p>Pressing connect will create a STOMP wrappered SockJS connection to '/hello_stomp' on the server</p>
    <p>The STOMP client will subscribe to the topics /topic/greetings and /topic/goodbyes</p>
    <p>The STOMP client will send messages to /app/hello and /app/bye</p>
    <div>
        <button id="connect" onclick="connect();">Connect</button>
        <button id="disconnect" disabled="disabled" onclick="disconnect();">Disconnect</button>
    </div>
    <div id="conversationDiv">
        <label>What is your name?</label><input type="text" id="name"/>
        <button id="sendName" onclick="sendName();">Greet</button>
        <button id="byeName" onclick="byeName();">Bye</button>
        <p id="response"></p>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/sockjs/0.3.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>

<script type="text/javascript">
    var stompClient = null;

    function setConnected(connected) {
        document.getElementById('connect').disabled = connected;
        document.getElementById('disconnect').disabled = !connected;
        document.getElementById('conversationDiv').style.visibility = connected ? "visible" : "hidden";
        document.getElementById('response').innerHTML = '';
    }

    function connect() {
        var socket = new SockJS('/hello_stomp');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            setConnected(true);
            console.log('Connected: ' + frame);
            stompClient.subscribe('/topic/greetings', function (greeting) {
                showGreeting(JSON.parse(greeting.body).content);
            });
            stompClient.subscribe('/topic/goodbyes', function (greeting) {
                showGreeting(JSON.parse(greeting.body).content);
            });
        });
    }

    function disconnect() {
        if (stompClient != null) {
            stompClient.disconnect();
        }
        setConnected(false);
        console.log("Disconnected")
    }

    function sendName() {
        var name = document.getElementById('name').value;
        stompClient.send("/app/hello", {}, JSON.stringify({"name": name}));
    }

    function byeName() {
        var name = document.getElementById('name').value;
        stompClient.send("/app/bye", {}, JSON.stringify({"name": name}));
    }

    function showGreeting(message) {
        var response = document.getElementById('response');
        var p = document.createElement('p');
        p.style.wordWrap = 'break-word';
        p.appendChild(document.createTextNode(message));
        response.appendChild(p);
    }

</script>

</body>
</html>